{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block css %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
{% endblock %} {% block content%}
<div class="container">
    <ul>
        {% for category in categories %}
        <li class="{{ category.title|slugify }} category">
          <h2 class="category__title">{{ category.title }}</h2>
          <ul class="category__list">
            {% for dish in category.dishes.all %}
            <li class="dish">
                <a href="{% url 'dish_detail' dish.id %}">
                    <img
                    class="dish__img"
                    src="{{ dish.image.url }}"
                    alt="{{ dish.title }}"
                />
                <div class="dish__info">
                    <h3 class="dish__tilte">{{ dish.title }}</h3>
                    <p>   ${{ dish.price }}</p>
                </div>
                </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
</div>

{% endblock %}
