{% extends "base.html" %} {% block title %}Home{% endblock %} {% block css %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
{% endblock %} {% block content%}
<div class="container">
  <div class="menu__wrapper">
    <div class="menu__categories">
      <ul class="categories__list">
        <li class="categories__item">
          <a class="category__title" href="{% url 'menu' %}"> All menu </a>
        </li>
        {% for cat in categories %}
        <li class="categories__item">
          <a
            class="category__title"
            href="{% url 'menu_by_category' cat.title %}"
          >
            {{ cat.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu__dishes">
      <ul class="dishes__list">
        {% if dishes %} {% for dish in dishes %}
        <li class="dish">
          <a href="{% url 'dish_detail' dish.id %}">
            <div class="img__wrapper">
              <img
                class="dish__img"
                src="{{ dish.image.url }}"
                alt="{{ dish.title }}"
              />
            </div>
            <div class="dish__info">
              <h3 class="dish__tilte">{{ dish.title }}</h3>
              <p class="dish__price">${{ dish.price }}</p>
            </div>
          </a>
          <button
            class="add__to__basket"
            data-dish-id="{{ dish.id }}"
            data-dish-title="{{ dish.title }}"
            data-dish-price="{{ dish.price }}"
            data-dish-image="{{ dish.image.url }}"
          >
            Add to Basket
          </button>
        </li>
        {% endfor %} {% else %}
        <p>No dishes available for this category.</p>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
