.swiper {
  width: 100%;
  height: 500px;
  margin-bottom: 120px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #979797;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards{
  margin-bottom: 70px;
}

.card__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card__item{
  max-width: 300px;
}

.card__item-img-wrapper{
  width: 100%;
  height: 200px;
  background-color: #979797;/*delete when use img*/
  display: flex;/*delete when use img*/
  justify-content: center;/*delete when use img*/
  align-items: center; /*delete when use img*/
  margin-bottom: 10px;
}

.card__item-img{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .card__list{
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .card__item{
    max-width: 400px;
  }

  .card__item-img-wrapper{
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .card__item{
    max-width: 500px;
  }

  .card__item-img-wrapper{
    height: 400px;
  }
}