.hero {
  position: relative;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  margin-bottom: 50px;
  filter: brightness(88%);
}

.button__wrapper,
.button__wrapper > button {
  cursor: pointer;
}

.hero__buttons {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.swiper__title {
  font-size: 24px;
  color: #331d2c;
  margin-bottom: 20px;
}

.swiper__subtitle {
  display: flex;
  margin-bottom: 30px;
}

.swiper__subtitle-bold {
  font-weight: 600;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-bottom: 120px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #979797;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards {
  margin-bottom: 70px;
}

.card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.card__item {
  max-width: 300px;
}

.card__item-img-wrapper {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .card__list {
    display: flex;
    flex-direction: row;
  }

  .swiper {
    height: 400px;
  }
}

@media screen and (min-width: 992px) {
  .card__item {
    max-width: 400px;
  }

  .card__item-img-wrapper {
    height: 300px;
  }

  .swiper {
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .card__item {
    max-width: 500px;
  }

  .card__item-img-wrapper {
    height: 400px;
  }

  .swiper {
    height: 600px;
  }
}
