.menu__wrapper {
  display: flex;
}

.menu__categories {
  max-width: 200px;
  width: 100%;
}

.category__title {
  margin-bottom: 10px;
  font-size: 30px;
}

.menu__dishes {
}

.dishes__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.dish {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.img__wrapper {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dish__img {
  width: 100%;
}

.dish__info {
  display: flex;
}

.dish__title {
  font-size: 24px;
}
