.popup {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  margin-top: 120px;
  margin: 10% auto;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup__title {
  font-size: 32px;
  margin-bottom: 10px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.popup__button,
.button__wrapper {
  background-color: #3f2e3e;
  color: white;
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  text-align: center;
}

.popup__button:hover,
.button__wrapper:hover {
  background-color: #5e445b;
  transition: 0.3s;
}

.input {
  width: 260px;
  height: 44px;
  background-color: #0303073f;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.field__label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label,
.input:focus {
  color: #05060fc2;
}
