{% extends "base.html" %} {% block title %}Dish detail{% endblock %} {% block css %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/dish_detail.css' %}" />
{% endblock %} {% block content%}
<div class="container">
  <div class="dish__detail__wrapper">
    <div class="dish__detail">
      <div class="img__wrapper">
        <img
          class="dish__img"
          src="{{ dish.image.url }}"
          alt="{{ dish.title }}"
        />
      </div>
      <div class="dish__info">
        <h3 class="dish__title">{{ dish.title }}</h3>
        <p>Price: ${{ dish.price }}</p>
        <p>{{ dish.description }}</p>
      </div>
    </div>
    <button
      class="add__to__basket"
      data-dish-id="{{ dish.id }}"
      data-dish-title="{{ dish.title }}"
      data-dish-price="{{ dish.price }}"
      data-dish-image="{{ dish.image.url }}"
    >
      Add to Basket
    </button>
  </div>
</div>

{% endblock %}
