<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Base title {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    {% block css %} {% endblock %}
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="logo">
            <a href="/"> LOGO </a>
          </div>
          <nav class="header__navbar">
            <ul class="navbar__list">
              <li class="list__item">
                <a class="list__link" href="/">home</a>
              </li>
              <li class="list__item">
                <a class="list__link" href="/menu">menu</a>
              </li>
              <li class="list__item">
                <a class="list__link" href="/contacts">contacts</a>
              </li>
              {% if user.is_authenticated %}
              <li class="list__item">
                <a class="list__link" href="/profile">profile</a>
              </li>
              {% else %}
              <li class="list__item">
                <a class="list__link" href="/auth/login">login</a>
              </li>
              {% endif %}
              <li class="list__item">
                <a class="list__link" href="/basket">basket</a>
              </li>
            </ul>
          </nav>
          <div>
            <button id="openPopupBtn" class="popup__button">Book Table</button>
          </div>
        </div>
      </div>
    </header>
    {% include "popup.html" %}
    <main class="main">
      {% block content %}
      <h1>Wellcome back, {{ name}}</h1>
      main content {% endblock %}
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__container">
          <div class="footer__newsletter">
            <h2 class="newsletter__title">Subscribe To Our Newsletter</h2>
            <form action="POST" class="newsletter__form">
              <label class="newsletter__input-wrapper">
                <input
                  type="text"
                  class="newsletter__input"
                  placeholder="Enter Your Email"
                  required
                />
              </label>
              <button class="newsletter__submit" type="submit">
                Subscribe
              </button>
            </form>
          </div>
          <nav class="footer__navbar">
            <div class="footer__navbar__left">
              <h5 class="footer__title">OUR LINKS</h5>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="/home" class="footer__link">Home</a>
                </li>
                <li class="footer__item">
                  <a href="/menu" class="footer__link">Menu</a>
                </li>
                <li class="footer__item">
                  <a href="/profile" class="footer__link">Profile</a>
                </li>
                <li class="footer__item">
                  <a href="/basket" class="footer__link">Basket</a>
                </li>
              </ul>
            </div>
            <div class="footer__navbar__right">
              <h5 class="footer__title">HELP CENTER</h5>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="/faq" class="footer__link">FAQ</a>
                </li>
                <li class="footer__item">
                  <a href="/delivery-trems" class="footer__link"
                    >Delivery Terms</a
                  >
                </li>
                <li class="footer__item">
                  <a href="/contacts" class="footer__link">Contacts</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="rights">
            Copyright 2024 All rights reserved.
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="{% static 'js/scripts.js' %}"></script>
</html>
