<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Base title {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <main>
      {% block content %}
      <h1>Wellcome back, {{ name}}</h1>
      main content {% endblock %}
    </main>
  </body>
  <script src="{% static 'js/scripts.js' %}"></script>
</html>
