<div id="popup" class="popup">
  <div class="popup-content">
    <span id="closePopupBtn" class="close-btn">&times;</span>
    <h3 class="popup__title">Book a Table</h3>
    <form class="popup__form" method="post">
      {% csrf_token %}
      <div class="field">
        <label class="field__label">Name:</label>
        <label class="input__wrapper"
          ><input class="input" type="text" id="name" name="name" required
        /></label>
      </div>

      <div class="field">
        <label class="field__label">Phone Number (Ukraine):</label>
        <label class="input__wrapper">
          <input
          class="input"
          type="tel"
          id="phone"
          name="phone"
          required
          placeholder="+380 XX XXX XXXX"
          maxlength="16 " />
      </label>
        </label>
      </div>

      <div class="field">
        <label class="field__label" for="date">Date:</label>
        <label class="input__wrapper"
          ><input class="input" type="date" id="date" name="date" required
        /></label>
      </div>

      <div class="field">
        <label class="field__label" for="time">Time:</label>
        <label class="input__wrapper"
          ><input class="input" type="time" id="time" name="time" required
        /></label>
      </div>

      <div class="field">
        <label class="field__label" for="guests">Number of Guests:</label>
        <label class="input__wrapper">
          <input
            class="input"
            type="number"
            id="guests"
            name="guests"
            min="1"
            required
        /></label>
      </div>


      <div class="field">
        <label class="field__label">Comment:</label>
        <label class="input__wrapper"
          ><input class="input" type="text" id="comment" name="comment"
        /></label>
      </div>

      <button type="submit" class="popup__button">Submit</button>
    </form>
  </div>
</div>